<div class="container">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-outline-dark" role="button" asp-area="" asp-controller="Mensalidade" asp-action="Cadastrar">Cadastrar mensalidade</a>
    </div>
    <br />
    <div class="card">

        <div class="card-header">
            <h2>Lista de mensalidades</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Cliente</th>
                        <th scope="col">Vencimento</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ruan Almeida</td>
                        <td>12/08/2024</td>
                        <td>R$ 30,00</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <td>Geromel</td>
                        <td>12/08/2024</td>
                        <td>R$ 85,00</td>
                        <td>...</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>


