@model PlanoModel
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Excluir plano</h4>
            </div>
            <div class="modal-body">
                <p>Confirma a exclusão do plano <b>@Model.Titulo</b>?</p>
            </div>
            <input readonly type="hidden" asp-for"Id" />

            <div class="modal-footer">
                <a role="button" class="btn btn-danger" asp-controller="Plano" asp-action="Excluir" asp-route-id="@Model.Id">Apagar</a>
                <a role="button" class="btn btn-primary" href="/Plano">Voltar</a>
            </div>
        </div>
    </div>