<div class="container">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-outline-dark" role="button" asp-area="" asp-controller="Plano" asp-action="Cadastrar">Cadastrar plano</a>
    </div>
    <br />
    <div class="card">

        <div class="card-header">
            <h2>Lista de planos</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Título</th>
                        <th scope="col">Duração</th>
                        <th scope="col">Valor mensal</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mensal Flex</td>
                        <td>1 mês</td>
                        <td>R$ 30,00</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <td>Trimestral Total</td>
                        <td>3 meses</td>
                        <td>R$ 85,00</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <td>Semestral Premium</td>
                        <td>6 meses</td>
                        <td>R$ 165,00</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <td>Anual Master</td>
                        <td>12 meses</td>
                        <td>R$ 320,00</td>
                        <td>...</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>


