<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Não permitido!</h4>
        </div>
        <div class="modal-body">
            <p>Não é permitida a edição ou exclusão desse plano! Existem mensalidades pendentes que estão relacionadas a ele.</p>
        </div>

        <div class="modal-footer">
            <a role="button" class="btn btn-primary" href="/Plano">Ok</a>
        </div>
    </div>
</div>