@model ClienteModel

    
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Excluir cliente</h4>
            </div>
            <div class="modal-body">
                <p>Confirma a exclusão do cliente <b>@Model.Nome</b> e todas as suas mensalidades?</p>
            </div>
            <input readonly type="hidden" asp-for"id" />

            <div class="modal-footer">
                <a role="button" class="btn btn-danger" asp-controller="Cliente" asp-action="Excluir" asp-route-id="@Model.Id">Excluir</a>
                <a role="button" class="btn btn-primary" href="/Cliente">Cancelar</a>
            </div>
        </div>
    </div>
