@model List<ClienteModel>
<div class="container">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-outline-dark" role="button" asp-area="" asp-controller="Cliente" asp-action="Cadastrar">Cadastrar cliente</a>
    </div>
    <br />
    <div class="card">

        <div class="card-header">
            <h2>Lista de clientes</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Cliente</th>
                        <th scope="col">Plano</th>
                        <th scope="col">Dia do vencimento</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model != null && Model.Any())
                    {
                        foreach(ClienteModel cliente in Model)
                        {
                            <tr>
                                <th scope="row">@cliente.Nome</th>
                                <th>@cliente.PlanoId</th>
                                <th>@cliente.DiaVencimento</th>
                                <th><button type="button" class="btn btn-primary btn-sm">Ver mais</button></th>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>

    </div>

</div>


