@{
    Layout = "_LayoutDeslogado";
}

<div class="container">

    <br />

    <div class="card">

        <div class="card-header">
            <h2>Pagamento via PIX!</h2>
        </div>

        <div class="card-body">
            <form asp-controller="" asp-action="" method="post">
                <div class="container">
                    <br />
                    <label for="cpf" class="form-label">CPF*</label>
                    <input type="text" required placeholder="Informe o número do seu CPF" class="form-control" id="cpf" aria-describedby="">
                    <br />
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                    <br />
                </div>
            </form>
        </div>

    </div>

    <p class="text-muted mt-4">
        <a href="/administrador" class="text-reset">Login interno</a>.
    </p>

</div>


