@{
    Layout = "_LayoutDeslogado";
}

<h1>@ViewData["Política de Privacidade"]</h1>

<div>
    <h2>Introdução</h2>
    <p>
        Bem-vindo à nossa política de privacidade. Esta política define como lidamos com suas informações pessoais quando você utiliza nosso sistema. Nós levamos sua privacidade a sério e nos comprometemos a proteger suas informações pessoais.
    </p>

    <h2>Coleta de Informações</h2>
    <p>
        Coletamos informações de diversas maneiras, incluindo quando você se registra em nosso sistema, preenche formulários, utiliza nossos serviços ou se comunica conosco. As informações que coletamos podem incluir:
    </p>
    <ul>
        <li>Informações de contato (nome, endereço de e-mail, número de telefone)</li>
        <li>Dados de login (nome de usuário, senha)</li>
        <li>Informações de uso do sistema (ações realizadas, páginas visitadas)</li>
    </ul>

    <h2>Uso das Informações</h2>
    <p>
        As informações coletadas são usadas para fornecer e melhorar nossos serviços, incluindo:
    </p>
    <ul>
        <li>Gerenciamento de contas e autenticação de usuários</li>
        <li>Personalização da experiência do usuário</li>
        <li>Comunicação com os usuários para suporte e atualizações</li>
        <li>Análise e melhoria de nossos serviços</li>
    </ul>

    <h2>Compartilhamento de Informações</h2>
    <p>
        Não compartilhamos suas informações pessoais com terceiros, exceto conforme descrito abaixo:
    </p>
    <ul>
        <li>Com seu consentimento explícito</li>
        <li>Para cumprir obrigações legais ou responder a solicitações legais</li>
        <li>Para proteger nossos direitos, propriedade e segurança, bem como os de nossos usuários</li>
    </ul>

    <h2>Segurança das Informações</h2>
    <p>
        Implementamos medidas de segurança apropriadas para proteger suas informações pessoais contra acesso, uso ou divulgação não autorizados. No entanto, lembre-se de que nenhum método de transmissão pela internet ou de armazenamento eletrônico é 100% seguro.
    </p>

    <h2>Seus Direitos</h2>
    <p>
        Você tem o direito de acessar, corrigir ou excluir suas informações pessoais que temos em nosso sistema. Para exercer esses direitos, entre em contato conosco através dos detalhes fornecidos abaixo.
    </p>

    <h2>Alterações a Esta Política</h2>
    <p>
        Podemos atualizar esta política de privacidade de tempos em tempos para refletir mudanças em nossos serviços ou em nossos compromissos de privacidade. Notificaremos você sobre quaisquer alterações significativas através de nosso sistema ou por outros meios apropriados.
    </p>

    <h2>Contato</h2>
    <p>
        Se você tiver dúvidas ou preocupações sobre esta política de privacidade ou sobre nossas práticas de privacidade, entre em contato conosco:
    </p>
    <p>
        <strong>Email:</strong> ruanalmeidawegner@gmai.com<br>
    </p>
</div>

